<?php 
$account_response = $block->getcheckAccount();
$get_campaigns = $block->get_campaignsData();
if(isset($account_response['account_name'])){
$account_url='https://'.$account_response['account_name'].'.pushassist.com/dashboard/';
}

if((!isset($account_response['error'] )) && $account_response) {
?>
<div id="Psidebar" >
  <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationdashboard/index'); ?>"><?php echo __('Dashboard')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notification/index'); ?>"><?php echo __('Notifications')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send Notification')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/segments/index'); ?>"><?php echo __('Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Create Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/subscribers/index'); ?>"><?php echo __('Subscribers')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/settings/index'); ?>"><?php echo __('Settings')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/campaign/index'); ?>"><?php echo __('Campaigns')?></a></li>
  </ul>
  </div>

    <!-- Content Start -->
    <div id="pushassist" class="content dashboard clearfix">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Campaigns');?></h1>
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
	    <!-- Project Stats Start -->
           
	      <?php if($account_response['planType']=='Free'){?>
	      <div class="col-md-6" style="width:54%">
		  <div class="panel panel-default">
			<div class="panel-body">
			  
			    <p><strong><?php echo __('Campaigns');?></strong></p>
			    <p class="margin-b-20">	
			      <?php echo __('Following screenshot shows how you can create and schedule a campaign.');?>
			      <strong><?php echo __('This feature is available in premium plans.');?> </strong> </p>
			    <p class="align-center margin-b-25">
				  <a href="<?php echo $account_url;?>" target="_blank" class="btn btn-default margin-t-0"><?php echo __('Upgrade to Premium');?></a>
			    </p>
			    <div class="margin-t-15 image_wrapper">
	
				<img src="<?php echo $this->getViewFileUrl("Pushassist_Webpushnotification::images/campaign.png"); ?>" alt="Campaign Notification">
			    </div>

			</div>
		  </div>
		</div>
		<?php } ?>
		<?php if($account_response['planType']=='Paid'){ ?>
		<div class="col-md-6">
		  <div class="panel panel-default">
		  <div class="panel-body">
		    <form action="<?php echo $this->getUrl('pushassist/createcampaign/add'); ?>" method="post" name="campaign" enctype='multipart/form-data' >
		    <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
			 <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Campaign Title')?></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Campaign Title" maxlength="77" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 77 Characters')?></span>
                                </div>
                         </div>
			 <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Campaign Message')?></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="2" name="message" id="message" placeholder="Campaign Message" maxlength="138" required="required" style="resize: none"></textarea>
                                    <span class="pull-right"><?php echo __('Limit 138 Characters')?></span>
                                </div>
                         </div>
                         <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Campaign URL')?></label>
				<div class="col-sm-9 margin-b-15">
                                    <input type="url" maxlength="250" placeholder="Campaign URL" name="url" id="url" class="form-control" >
                                </div>
			 </div>
			<div class="form-group">
                                <label class="col-sm-3 control-label form-label">Campaign Date</label>

                                <div class="col-sm-9 input-group date" form_datetime id="form_datetime" data-date=""  data-link-field="date">
                                    <input  size="20" type="text" name="campaigndate" value="" id="campaigndate" aria-required="true"/>
                                    

				   
		      <img title="Select date" id="cal_date_trig_campaign" src="<?php $this->getViewFileUrl('images/grid-cal.png')?>"  class="v-middle" style="width:14px;height:14px;"/>  
                                </div>
                               
                          </div>
			  <div class="form-group margin-b-0">
                                <label for="focusedinput" class="col-sm-3 control-label form-label"><?php echo __('Campaign Logo')?></label>    
                                <div class="col-sm-9">
                                    <span class="btn btn-success fileinput-button margin-b-10">
                                        <span><?php echo __('Campaign Logo')?>...</span>
                                        <input id="fileupload" type="file" name="fileupload" />
                                    </span>
				    <span class="clearfix"><?php echo __('Image size must be exactly 250x250px.')?></span>
                                    <!-- The global progress bar -->
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                            </div>
			    <div class="form-group">
                                <label class="col-sm-offset-3 control-label form-label">    
                                    <input type="checkbox" value="1" name="is_utm_show" id="is_utm_show" />
                                    <label class="form-label checkbox_title margin-l-10"><?php echo __('Add UTM Parameters')?></label>    
                                </label>
                            </div>
			    <div class="form-group" id="utm_parameter_div" style="display: none;">    
                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Source')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" id="utm_source" name="utm_source" value="pushassist" placeholder="Enter UTM Source" maxlength="45" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 45 Characters')?></span>
                                </div>

                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Medium')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" name="utm_medium" id="utm_medium" value="pushassist_notification" placeholder="Enter UTM Medium" maxlength="73" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 73 Characters')?></span>
                                </div>

                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Campaign')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" name="utm_campaign" id="utm_campaign" value="pushassist" placeholder="Enter UTM Campaign" maxlength="500" required="required"  />
                                    <span class="pull-right"><?php echo __('Limit 500 Characters')?></span>
                                </div>    
                              
                            </div>
			     <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Segment')?></label>
                                <div class="col-sm-9 dropdown_padding">
                                    <select class="col-sm-12" id="segment" name="segment[]"  multiple>
				      <?php $get_segment = $block->get_segmentsData(); 
					    if(count($get_segment) > 0){ 
						foreach($get_segment as $get_segment_list){
					    ?>
						<option value="<?php echo $get_segment_list['id'];?>"><?php echo $get_segment_list['name'];?></option>
					<?php  }  } else{ 
					?>
					<option value=""><?php echo __('No Segment')?></option>
                                        <?php } ?>
                                        
                                    </select>
                                </div>
                            </div>
			    <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-1 col-xs-3">
                                    <button type="submit" class="btn btn-default"><?php echo __('Schedule')?></button>
                                </div>
			    </div>
		    </form>
		  </div>
		  </div>
	      </div>
	      <div class="col-md-6 dummy-notification shadow panel panel-default">
			      <p class="h4 pb15">Preview</p>
			      <div class="widget shadow dummy-notification-inner-wrapper">
				  <div class="wrapper">
				      <div class="img_wrapper pull-left">
					  <img class="img-responsive" src="<?php echo $account_response['site_image'];?>" id="pushassist_preview_logo">
				      </div>
				      <div class="text_wrapper pull-left">
					  <div class="title">
					      <div id="notification_title" class="title_txt pull-left"><?php echo __('Campaign Title')?></div>
					      <div class="closer pull-right">x</div>
					  </div>
					  <div id="notification_message" class="message"><?php echo __('Campaign Body')?></div> 
					  <div class="domain">
						  <div class="domain"><?php echo $account_response['account_name'];?>.pushassist.com</div>
					  </div>
				      </div>
				  </div>
			      </div>
			      <div class="redirect_url">
					<p class="h5" id="redirect_url" name="redirect_url"><?php echo __('URL to open when user clicks the notification')?>:</p>
			      </div>
		</div>
		<script>
		    require([
			  "jquery",
			  "mage/calendar"
		    ], function($){
			$("#campaigndate").calendar({
			      buttonText:"<?php echo __('Select Date') ?>",
			      dateFormat: 'yy-mm-dd',
			      timeFormat:  "hh:mm:ss",
			      showsTime:true
			});
		      });
		</script>

		  <script language="javascript">


require(['jquery'],function($){
	$(document).ready(function() {
"use strict";
		 var $url = "";
			
		 $("#title").keyup(function () {
		 
            title = $('#title').val();

            if (title != "") {
                $('#notification_title').text(title);
            }
            else {
                $('#notification_title').text('<?php echo __('Campaign Title')?>');
            }
        });

        $("#message").keyup(function () {

             message = $('#message').val();

            if (message != "") {
                $('#notification_message').text(message);               
            }
            else {

                $('#notification_message').text('<?php echo __('Campaign Body')?>');                
            }
        });

        $("#url,#utm_medium,#utm_source, #utm_campaign").keyup(function () {

            $url = $('#url').val();

            if ($url != "" && $('#is_utm_show').is(':checked')) {

                $('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());                

            } else if ($url != "") {
			
                $('#redirect_url').text($url);                
            }
            else {
                $('#redirect_url').text('<?php echo __('URL to open when user clicks the notification')?>:');                
            }
        });

	

        $("#title").blur(function () {
            title = $('#title').val();

            if (title != "") {
                $('#notification_title').text(title);
            }
            else {
                $('#notification_title').text('<?php echo __('Campaign Title')?>');
            }
        });

        $("#message").blur(function () {
		
            message = $('#message').val();

            if (message != "") {
                $('#notification_message').text(message);               
            }
            else {

                $('#notification_message').text('<?php echo __('Campaign Body')?>');                
            }
        });

        $("#url").blur(function () {

            $url = $('#url').val();

            if ($url != "" && $('#is_utm_show').is(':checked')) {

                $('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());                

            } else if ($url != "") {
			
                $('#redirect_url').text($url);                
            }
            else {
                $('#redirect_url').text('<?php echo __('URL to open when user clicks the notification')?>:');                
            }
        });
		
		$("#is_utm_show").on('click', function () {
		
			if ($('#is_utm_show').is(':checked')) { 


					$('#utm_parameter_div').show('slow');

					if ($url == "") {

						$('#redirect_url').text('<?php echo __('URL to open when user clicks the notification')?>:');
					} else {

						$('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());
					}

				} else {

					$('#utm_parameter_div').hide('slow');

					if ($url == "") {

						$('#redirect_url').text('<?php echo __('URL to open when user clicks the notification')?>:');
					} else {

						$('#redirect_url').text($url);
					}
				}
		});
	});	
});
	</script>   
		<?php } ?>
            
            <!-- Project Stats End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
<?php
}?>
