<?php 
$account_response = $block->getcheckAccount();

if(isset($account_response['account_name'])){
$account_url='https://'.$account_response['account_name'].'.pushassist.com/dashboard/';
$allsites='https://'.$account_response['account_name'].'.pushassist.com/allsites/';
}

?>
<div id="Psidebar" >
  <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/createaccount/index'); ?>"><?php echo __('Create an Account');?></a></li>
 </ul>
  </div>
<!-- Content Start -->

    <div id="pushassist" class="content clearfix">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Create Account');?></h1>
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
            <div class="alert alert-danger alert-dismissable" id="pushassist_error" style="display: none"></div>
            <div class="col-md-6" style="<?php if(isset($account_response['account_name'])) { echo 'display:none'; }?>">
	      <h3><?php echo __('Create an Account');?></h3>
                <div class="panel panel-default">
                    <div class="panel-body">
		      <form name="registration_form" id="registration_form" class="space-top" action="<?php echo $this->getUrl('pushassist/createaccount/register'); ?>" method="post">
		      <input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>" />
                            <input type="hidden" name="api_form" id="api_form" value="account_creation">
			    
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name"
                                           placeholder="Full Name" type="text" maxlength="100"
                                           required="required">
                                </div>
                            </div>
			   
                           <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" name="company_name" id="company_name"
                                           placeholder="Company Name" type="text" maxlength="200" required="required">
                                </div>
                            </div>
                           
			    <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" name="phone" id="phone"
                                           placeholder="+1 Contact no with country code" type="text" maxlength="200">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" placeholder="Email"
                                           type="email" maxlength="150" required="required">
                                </div>
                            </div>
                            <div class="col-sm-10 margin-b-20">
                                <div class="form-group">
                                    <input class="form-control col-sm-12" name="password" id="password"
                                           placeholder="Password" type="password" maxlength="50"
                                           required="required">
                                </div>
                            </div>
			    <div class="col-sm-11">
				<div class="col-sm-2">
				    <div class="form-group">
				    <select name="protocol" id="protocol" class="form-control" required>
					<option value="http://">http://</option>
					<option value="https://">https://</option>
				    </select>
				  </div>
				</div>
				<div class="col-sm-8">
				  <div class="form-group">
				    <input class="form-control" name="site_url" id="site_url"
					  placeholder="Site Url" type="text" maxlength="200"
					  required="required">
				  </div>
				</div>
			    </div>

                            <div class="col-sm-8">
				<div class="form-group">
				      <input class="form-control" name="sub_domain" id="sub_domain"
                                       placeholder="accountname" type="text" maxlength="100"
                                       required="required">
			      </div>
                            </div>
                            <div class="col-sm-2">
			      <div class="form-group">
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.pushassist.com
			      </div>
                            </div>
			    <div class="col-sm-12">
			    <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-default"><?php echo __('Create Account');?></button>
                                </div>
			    </div>
			    </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
		<h3>Provide API Key And Secret Key.</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
		      <form name="key_form" id="key_form" class="space-top" action="<?php echo $this->getUrl('pushassist/createaccount/login'); ?>" method="post">
                          <input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>" />

                        <div class="col-sm-10">
                            <div class="form-group">
                                <input class="form-control" name="api_key" id="api_key"
                                       placeholder="API Key" type="text" maxlength="250"
                                       required="required" value="<?php echo $block->getApiKey();?>">
                            </div>
                        </div>

                        <input type="hidden" name="api_form" id="api_form" value="appKey">

                        <div class="col-sm-10">
                            <div class="form-group">
                                <input class="form-control" name="secret_key" id="secret_key"
                                       placeholder="Secret Key" type="text" maxlength="250" value="<?php echo $block->getSecretKey();?>">
                            </div>
                        </div>
			<div class="col-sm-12">
                       <div class="form-group">
                                <div class="">
                                    <button type="submit" class="btn btn-default"><?php echo __('Submit');?></button>
                                </div>
			</div>
			</div>
                       
                        <div class="response-holder"></div>
                    </form>
                    </div>
                </div>
		<h3><?php echo __('How to get API Keys');?></h3>
		<div class="panel panel-default">
		     
			   If you are an existing user of PushAssist you can find your api keys under your PushAssit control panel.To get your API and Secret
	    Keys login to your <strong>PushAssist Admin Control Panel</strong> and click <strong>Sites</strong>.Copy the API Key and Secret Keys from your control Panel and 
	    paste above.Your account login details were sent to you at the time of signup. In case you have missed your account credentials.
	    please send us an email at support@pushassist.com containing your site url and we will send you your account credentials.</br></br>
	    <p>Please do not share your API and Secret keys with anyone.</p>

	    <hr>
<br>
		    <p><strong><?php echo __('What is a GCM Key? How do I get export my subscribers, What if I want to switch to other vendor.');?></strong></p>
                    <p class="margin-b-15 margin-t-15">
			<?php echo __('At the time of installation, you have to provide your GCM (Google
                        Cloud Messaging) API Key for Chrome and Certificate Details for Safari that is used.');?>
			</p>
			<p><?php echo __('We need this information to export your subscriber’s ID’s. Please note that only premium accounts
                        can export the subscribers.');?></p>
                    <p class="margin-b-15 margin-t-15">Please read <a href="https://pushassist.com/adding-your-own-gcm-key-project-id-in-pushassist/" target="_blank">
		      <?php echo __('GCM registration');?> </a><?php echo __('guidelines here.');?> </p>
                


		</div>
            </div><!-- col-md-6-->
	    
        </div><!-- Container End -->
        
    </div>
    <!-- Content End -->	


