<?php 
$account_response = $block->getcheckAccount();
if(isset($account_response['account_name'])){
$account_url='https://'.$account_response['account_name'].'.pushassist.com/dashboard/';
}
if((!isset($account_response['error'] )) && $account_response) {
?>

<div id="Psidebar" >
  <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationdashboard/index'); ?>"><?php echo __('Dashboard')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notification/index'); ?>"><?php echo __('Notifications')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send Notification')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/segments/index'); ?>"><?php echo __('Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Create Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/subscribers/index'); ?>"><?php echo __('Subscribers')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/settings/index'); ?>"><?php echo __('Settings')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/campaign/index'); ?>"><?php echo __('Campaigns')?></a></li>
   </ul>
  </div>
<!-- Content Start -->
    <div id="pushassist" class="content clearfix">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Create Segment') ?></h1>
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
            <div class="alert alert-danger alert-dismissable" id="pushassist_error" style="display: none"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="<?php echo $this->getUrl('pushassist/createsegments/add'); ?>" method="post" autocomplete="off" id="create_segment_form" name="create_segment_form" enctype="multipart/form-data">                            
                            <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Segment Name') ?></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Segment Name" maxlength="40" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 40 Characters. E.g. Google') ?></span>
                                </div>
                            </div>
                            
			    <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-1 col-xs-3">
                                    <button type="submit" class="btn btn-default"><?php echo __('Create Segment') ?></button>
                                </div>
			    </div>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-6-->

	   <div class="col-md-6 dummy-notification shadow panel panel-default">

		  <p class="h5 pb15"><strong><?php echo __('How to Implement Segments for your Push Notification Subscribers') ?></strong></p>

		  <div class="widget shadow dummy-notification-inner-wrapper pb15">
		      <p><strong><?php echo __('Step 1') ?> :</strong> <?php echo __('Create a new segment. Go to Create Segments') ?></p>

		      <p><strong><?php echo __('Step 2') ?> :</strong> <?php echo __('Copy the following JavaScript code and paste it on your site page(s).') ?></p>

		      <p class="margin-t-20"><strong><?php echo __('Subscribe for Single Segment') ?></strong></p>
		      <p>
			  &lt;script&gt;
			  <br>
			  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var _pa = [];<br>
			  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _pa.push('segmentname');
			  <br>
			  &lt;/script&gt;
		      </p>

		      <p class="margin-t-20"><strong>Subscriber for Multiple Segments</strong></p>
		      <p>
			  &lt;script&gt;
			  <br>
			  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; var _pa = [];<br>
			  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _pa.push('segmentname1', 'segmentname2');
			  <br>
			  &lt;/script&gt;
		      </p>
		  </div>
           </div>

        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
<?php } ?>    
   
	  


