<?php 
$get_notifications = $block->get_notificationsData();
$account_response = $block->getcheckAccount();

if((!isset($account_response['error'] )) && $account_response) { 
?>
<div id="Psidebar" >
  <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationdashboard/index'); ?>"><?php echo __('Dashboard')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notification/index'); ?>"><?php echo __('Notifications')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send Notification')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/segments/index'); ?>"><?php echo __('Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Create Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/subscribers/index'); ?>"><?php echo __('Subscribers')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/settings/index'); ?>"><?php echo __('Settings')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/campaign/index'); ?>"><?php echo __('Campaigns')?></a></li>
  </ul>
  </div>
<!-- Content Start -->
    <div id="pushassist" class="content dashboard clearfix">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Sent Notifications')?></h1>
	    <div class="sub_count">
		<a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send New Notification')?></a>
	    </div>
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
           

            <!-- Project Stats Start -->
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-widget">
		  <?php if( count($get_notifications) > 0){ ?>
                   
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td><?php echo __('Site Url')?></td>                               
				<td><?php echo __('Message')?></td>
				<td><?php echo __('Total Sent')?></td>
				<td><?php echo __('Delivered')?></td>
				<!--<td><?php //echo __('Failed')?></td>-->
				<td><?php echo __('Clicked')?></td>
				<td><?php echo __('Created Date')?></td>
                            </tr>
                            </thead>
                            <tbody>
			      <?php $i = 1;
				foreach($get_notifications as $get_notifications_list){
				$clicked_percentage=@($get_notifications_list['total_clicked']/$get_notifications_list['total_sent'])*100;
				?>
                                <tr>
				
                                    <td><?php echo $i;?></td>
                                    <td><?php echo $get_notifications_list['siteurl']?></td>                                   
				    <td>
					<div class="col-sm-3 table_image">
						<img src="<?php echo $get_notifications_list['logo']?>" alt="Notification Logo">
					</div>

					<div class="col-sm-8">
					    <h5 class="margin-t-0 font-bold">
						
						  <?php echo  $get_notifications_list['title'];?>
					    </h5>
					    <p class="margin-b-5"><?php echo  $get_notifications_list['message'];?></p>
					    <a target="_blank" href="<?php echo $get_notifications_list['redirecturl'];?>"><?php echo $get_notifications_list['redirecturl'];?></a>
					</div>
				    </td>
				    
				    <td><?php echo $get_notifications_list['total_sent']+$get_notifications_list['failed'];?></td>
				    <td><?php echo $get_notifications_list['total_sent']?></td>
                                    <!--<td><?php //echo $get_notifications_list['failed'];?></td>-->
				    <td><?php echo $get_notifications_list['total_clicked'];?> 
					<?php if($clicked_percentage>0){
					?>	
					  <b class="color-up margin-l-10"> <?php echo (int)$clicked_percentage; } else { ?> <b class="color-up margin-l-10">0 <?php } ?> %</b>
				    </td>
				    
				    <td><?php echo date("M d, Y H:i:s",strtotime($get_notifications_list['created_at']));?></td>
                                </tr>
				  
                                <?php $i++;
				  } ?>
                                                              
                            </tbody>
                        </table>
                    </div>
		    <?php }else{ echo __('No result found');}?>
                </div>
            </div>
            <!-- Project Stats End -->

        </div>
        <!-- Container End -->

    </div>
    <!-- Content End -->
<?php } ?>