<?php 
$dashboard_response = $block->get_dashboardData();
$account_response = $block->getcheckAccount();
$get_subscribers = $block->get_subscribersData();

if(isset($account_response['account_name'])){
$account_url='https://'.$account_response['account_name'].'.pushassist.com/dashboard/';
}

if((!isset($account_response['error'] )) && $account_response) {

?>
<div id="pushassist" class="maindashboard dashboard clearfix" style="padding-top:30px;margin-top:15px;border:1px solid #ccc;">
  
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Dashboard');?></h1>
	    <div class="sub_count"><span><?php echo $account_response['subscribers_remain'];?> <?php echo __('subscribers left');?></span>
		  <a href="<?php echo $account_url;?>" target="_blank"><?php echo __('Upgrade to Premium');?></a>
	    </div>
        </div>
        <!-- End Page Header -->
	<div class=maindashboard clearfix">
            <!-- Top Stats Start -->
            <div class="col-md-12">
                <ul class="topstats clearfix">
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-users"></i> <?php echo __('Total Subscribers');?> </span>
                        <h3><?php echo $dashboard_response['active']+$dashboard_response['total_unsubscribed']; ?></h3>
                      
                    </li>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-bell"></i> <?php echo __('Active');?> </span>
                        <h3><?php echo $dashboard_response['active']; ?></h3>
                      
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-bell-slash"></i> <?php echo __('Unsubscribed');?> </span>
                        <h3><?php echo $dashboard_response['total_unsubscribed']; ?></h3>
                      
                    </li>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-send"></i> <?php echo __('Sent');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['stats_notification_sent']; ?></h3>
                        
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-check-square-o"></i> <?php echo __('Clicked');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['stats_clicks']; ?>&nbsp;
			<?php 
			    if($dashboard_response['stats_clicks'] > 0 && $dashboard_response['stats_notification_sent'] > 0) {
                              echo '(';
			      $ctr=($dashboard_response['stats_clicks']*100)/$dashboard_response['stats_notification_sent'];
			      echo round($ctr,2).'%)';
			     }
			?></h3>
		    </li>
		    <?php if($account_response['planType']=='Paid'){ ?>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-cogs"></i> <?php echo __('Campaigns');?> </span>
                        <h3><?php echo $dashboard_response['stats_campaigns']; ?></h3>
		    </li>
		    <?php }else{ ?>
		     <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-eye"></i> <?php echo __('Viewed');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['stats_notification_sent']; ?></h3>
                        
                    </li>
		    <?php } ?>

                    
                </ul>
            </div>
            <!-- Top Stats End -->
	    <?php 

?>
	    
           
	  
        </div>
        <!-- Container Start -->
        <div class=maindashboard clearfix">
            <!-- Top Stats Start -->
	    <h2>This Week</h2>
            <div class="col-md-12">
                <ul class="topstats clearfix">
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-users"></i> <?php echo __('Subscribers');?> </span>
                        <h3><?php echo $dashboard_response['total_subscribers']; ?></h3>
			<span class="diff">
                            <?php if ($dashboard_response['subscribers_change'] == 'negative') { ?>
                            <b class="color-down"><i class="fa fa-caret-down"></i> <?php echo $dashboard_response['subscribers_percentage']; ?>
                                <?php } if ($dashboard_response['subscribers_change'] == 'positive') { ?>
                                <b class="color-up"><i class="fa fa-caret-up"></i> <?php echo $dashboard_response['subscribers_percentage']; ?>
                                    <?php } ?>%
                                    
                                </b> <?php echo __('from last week');?></span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-bell"></i> <?php echo __('Active');?> </span>
                        <h3><?php echo $dashboard_response['active_subscribers']; ?></h3>
			<span class="diff">
                            <?php if ($dashboard_response['active_subscribers_change'] == 'negative') { ?>
                            <b class="color-down"><i class="fa fa-caret-down"></i> <?php echo $dashboard_response['active_subscribers_percentage']; ?>
                                <?php } if ($dashboard_response['active_subscribers_change'] == 'positive') { ?>
                                <b class="color-up"><i class="fa fa-caret-up"></i> <?php echo $dashboard_response['active_subscribers_percentage']; ?>
                                    <?php } ?>%
                                    
                                </b> <?php echo __('from last week');?></span>
                    </li>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-bell-slash"></i> <?php echo __('Unsubscribed');?> </span>
                        <h3><?php echo $dashboard_response['unsubscribed']; ?></h3>
			<span class="diff">
                            <?php if ($dashboard_response['unsubscribed_change'] == 'negative') { ?>
                            <b class="color-down"><i class="fa fa-caret-down"></i> <?php echo $dashboard_response['unsubscribed_percentage']; ?>
                                <?php } if ($dashboard_response['unsubscribed_change'] == 'positive') { ?>
                                <b class="color-up"><i class="fa fa-caret-up"></i> <?php echo $dashboard_response['unsubscribed_percentage']; ?>
                                    <?php } ?>%
                                    
                                </b> <?php echo __('from last week');?></span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-send"></i> <?php echo __('Sent');?> </span>
                        <h3><?php echo $dashboard_response['total_delivered']; ?></h3>
                        <span class="diff">
			  <?php if ($dashboard_response['delivered_change'] == 'negative') { ?>
			  <b class="color-down"><i class="fa fa-caret-down"></i> <?php echo $dashboard_response['delivered_percentage']; ?>
			  <?php }
			  if ($dashboard_response['delivered_change'] == 'positive') { ?>
			  <b class="color-up"><i class="fa fa-caret-up"></i> <?php echo $dashboard_response['delivered_percentage']; ?>
				  <?php } ?>%

			  
			  </b> <?php echo __('from last week');?></span>
                    </li>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa fa-check-square-o"></i> <?php echo __('Clicked');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['total_clicks']; ?></h3>
                        <span class="diff">
                            <?php if ($dashboard_response['clicks_change'] == 'negative') { ?>
                            <b class="color-down"><i class="fa fa-caret-down"></i> <?php echo $dashboard_response['clicks_percentage']; ?>
                                <?php } if ($dashboard_response['clicks_change'] == 'positive') { ?>
                                <b class="color-up"><i class="fa fa-caret-up"></i> <?php echo $dashboard_response['clicks_percentage']; ?>
                                    <?php } ?>%
                                    
                                </b> <?php echo __('from last week');?></span>
                    </li>
		    <?php if($account_response['planType']=='Paid'){ ?>
		    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-cogs"></i> <?php echo __('Campaigns');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['campaign_count']; ?></h3>
                        <span class="diff"><b class="color-down"></b> <?php echo __('active this week');?></span>
                    </li>
		    <?php }else{ ?>		    
                    <li class="col-xs-6 col-lg-2">
                        <span class="title"><i class="fa  fa-send"></i> <?php echo __('Viewed');?> </span>
                        <h3 class="color-up"><?php echo $dashboard_response['total_delivered']; ?></h3>
						<span class="diff"><b class="color-down"></b> <?php echo __('created');?> </span>
                    </li>
		    <?php } ?>
                   
                </ul>
            </div>
            <!-- Top Stats End -->
	    <?php 

?>
	    
           
	  
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
<?php }	    ?>