<?php 
$get_segment = $block->get_segmentsData();
$account_response = $block->getcheckAccount();

if(!isset($account_response['error'] )) {
?>
<div id="Psidebar" >
 <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationdashboard/index'); ?>"><?php echo __('Dashboard')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notification/index'); ?>"><?php echo __('Notifications')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send Notification')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/segments/index'); ?>"><?php echo __('Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Create Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/subscribers/index'); ?>"><?php echo __('Subscribers')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/settings/index'); ?>"><?php echo __('Settings')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/campaign/index'); ?>"><?php echo __('Campaigns')?></a></li>
  </ul>
  </div>
<!-- Content Start -->
    <div id="pushassist" class="content dashboard clearfix">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('Segment Details')?></h1>
	    <div class="sub_count">
		<a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Add New')?></a>
	    </div>
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
           

            <!-- Project Stats Start -->
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-widget">
		    <?php if(count($get_segment) > 0){ ?>
                   
                    <div class="panel-search">
                        <form>
                            <input type="text" class="form-control" placeholder="Search...">
                            <i class="fa fa-search icon"></i>
                        </form>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td><?php echo __('Segment Name')?></td>
				<td><?php echo __('Subscribers Count')?></td>
                                <td><?php echo __('Created Date')?></td>
                            </tr>
                            </thead>
                            <tbody>
			      <?php $i = 1;
				    foreach($get_segment as $get_segment_list){?>
                                <tr>
				
                                    <td><?php echo $i;?></td>
                                    <td><?php echo $get_segment_list['name'];?></td>
				     <td><?php echo $get_segment_list['subscriber_count'];?></td>
                                    <td><?php echo date("M d, Y H:i:s",strtotime($get_segment_list['created_at']));?></td>
                                </tr>
                                <?php $i++;
				  } ?>
                                                              
                            </tbody>
                        </table>
                    </div>
		    <?php }else{ echo __('No result Found');}?>
                </div>
            </div>
            <!-- Project Stats End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
<?php
}
 ?>