<?php 
$account_response = $block->getcheckAccount();
if(isset($account_response['account_name'])){
$account_url='https://'.$account_response['account_name'].'.pushassist.com/dashboard/';
}

if((!isset($account_response['error'] )) && $account_response) {
?>
<form action="<?php echo $this->getUrl('pushassist/notificationsend/add'); ?>" method="post" name="notification" enctype='multipart/form-data' >
<input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>" />
<div id="Psidebar" >
 <ul>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationdashboard/index'); ?>"><?php echo __('Dashboard')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notification/index'); ?>"><?php echo __('Notifications')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/notificationsend/index'); ?>"><?php echo __('Send Notification')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/segments/index'); ?>"><?php echo __('Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/createsegments/index'); ?>"><?php echo __('Create Segments')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/subscribers/index'); ?>"><?php echo __('Subscribers')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/settings/index'); ?>"><?php echo __('Settings')?></a></li>
    <li><a href="<?php echo $this->getUrl('pushassist/campaign/index'); ?>"><?php echo __('Campaigns')?></a></li>
 </ul>
  </div>
<!-- Content Start -->
    <div id="pushassist" class="content clearfix">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title"><?php echo __('New Notification')?></h1>
	    
        </div>
        <!-- End Page Header -->

        <!-- Container Start -->
        <div class="container-widget clearfix">
            <div class="alert alert-danger alert-dismissable" id="pussassist_error" style="display: none"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">

                            <div class="">
                                <input type="hidden" class="form-control" id="sites" name="sites" value="<?php //echo $result[0]['id']; ?>" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Notification Title')?></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Notification Title" maxlength="77" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 77 Characters')?></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Notification Message')?></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="2" name="message" id="message" placeholder="Notification Message" maxlength="138" required="required" style="resize: none"></textarea>
                                    <span class="pull-right"><?php echo __('Limit 138 Characters')?></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Notification URL')?></label>
				<div class="col-sm-9 margin-b-15">
                                    <input type="url" maxlength="250" placeholder="Enter a URL to push your subscribers to (yoursite.com)" name="url" id="url" class="form-control" >
                                </div>
  
                            </div>
                            
                            <div class="form-group margin-b-0">
                                <label for="focusedinput" class="col-sm-3 control-label form-label"><?php echo __('Notification Logo')?></label>    
                                <div class="col-sm-9">
                                    <span class="btn btn-success fileinput-button margin-b-10">
                                        <span><?php echo __('Notification Logo')?>...</span>
                                        <input id="fileupload" type="file" name="fileupload" />
                                    </span>
				    <span class="clearfix"><?php echo __('Image size must be exactly 250x250px.')?></span>
                                    <!-- The global progress bar -->
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-3 control-label form-label">    
                                    <input type="checkbox" value="1" name="is_utm_show" id="is_utm_show" />
                                    <label class="form-label checkbox_title margin-l-10"><?php echo __('Add UTM Parameters')?></label>    
                                </label>
                            </div>
                            <div class="form-group" id="utm_parameter_div" style="display: none;">    
                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Source')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" id="utm_source" name="utm_source" value="pushassist" placeholder="Enter UTM Source" maxlength="45" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 45 Characters')?></span>
                                </div>

                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Medium')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" name="utm_medium" id="utm_medium" value="pushassist_notification" placeholder="Enter UTM Medium" maxlength="73" required="required" />
                                    <span class="pull-right"><?php echo __('Limit 73 Characters')?></span>
                                </div>

                                <label class="col-sm-3 control-label form-label"><?php echo __('UTM Campaign')?></label>
                                <div class="col-sm-9 margin-b-15">
                                    <input type="text" class="form-control" name="utm_campaign" id="utm_campaign" value="pushassist" placeholder="Enter UTM Campaign" maxlength="500" required="required"  />
                                    <span class="pull-right"><?php echo __('Limit 500 Characters')?></span>
                                </div>    
                                <input type="hidden" id="campaign_id" name="campaign_id" value="" />
                                <input type="hidden" id="status" name="status" value="" />
                                <input type="hidden" id="notification_logo" name="notification_logo" />
                                <input type="hidden" id="cmp_status" name="cmp_status" value="0" />
                                <input type="hidden" id="date" name="date" value="" />
                                <input type="hidden" id="is_draft" name="is_draft" value="1" />    
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label"><?php echo __('Segment')?></label>
                                <div class="col-sm-9 dropdown_padding">
                                    <select class="col-sm-12" id="segment" name="segment[]"  multiple>
				      <?php $get_segment = $block->get_segmentsData(); 
					    if(count($get_segment) > 0){ 
						foreach($get_segment as $get_segment_list){
					    ?>
						<option value="<?php echo $get_segment_list['id'];?>"><?php echo $get_segment_list['name'];?></option>
					<?php  }  } else{ 
					?>
					<option value=""><?php echo __('No Segment')?></option>
                                        <?php } ?>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-1 col-xs-3">
                                    <button type="submit" class="btn btn-default"><?php echo __('Send')?></button>
                                </div>
			    </div>
                        <!--</form>-->
                    </div>
                </div>
            </div>

            <div class="col-md-6 dummy-notification shadow panel panel-default">
		<p class="h4 pb15">Preview</p>
		<div class="widget shadow dummy-notification-inner-wrapper">
		    <div class="wrapper">
			<div class="img_wrapper pull-left">
			    <img class="img-responsive" src="<?php echo $account_response['site_image'];?>" id="pushassist_preview_logo">
			</div>
			<div class="text_wrapper pull-left">
			    <div class="title">
				<div id="notification_title" class="title_txt pull-left"><?php echo __('Notification Title')?></div>
				<div class="closer pull-right">x</div>
                            </div>
			    <div id="notification_message" class="message"><?php echo __('Notification Body')?></div> 
			    <div class="domain">
				    <div class="domain"><?php echo $account_response['account_name'];?>.pushassist.com</div>
			    </div>
			 </div>
		    </div>
		</div>
		<div class="redirect_url">
			  <p class="h5" id="redirect_url" name="redirect_url"><?php echo __('URL to open when user clicks the notification')?>:</p>
		</div>
	    </div>

	</div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    
    <!-- Script -->
	<script language="javascript">
		
require(['jquery'],function($){
	$(document).ready(function() {
		"use strict";
		 var $url = "";
			
		 $("#title").keyup(function () {
		 
            title = $('#title').val();

            if (title != "") {
                $('#notification_title').text(title);
            }
            else {
                $('#notification_title').text('Notification Title');
            }
        });

        $("#message").keyup(function () {

             message = $('#message').val();

            if (message != "") {
                $('#notification_message').text(message);               
            }
            else {

                $('#notification_message').text('Notification Body');                
            }
        });

        $("#url,#utm_medium,#utm_source, #utm_campaign").keyup(function () {

            $url = $('#url').val();

            if ($url != "" && $('#is_utm_show').is(':checked')) {

                $('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());                

            } else if ($url != "") {
			
                $('#redirect_url').text($url);                
            }
            else {
                $('#redirect_url').text('URL to open when user clicks the notification:');                
            }
        });

	

        $("#title").blur(function () {
            title = $('#title').val();

            if (title != "") {
                $('#notification_title').text(title);
            }
            else {
                $('#notification_title').text('Notification Title');
            }
        });

        $("#message").blur(function () {
		
            message = $('#message').val();

            if (message != "") {
                $('#notification_message').text(message);               
            }
            else {

                $('#notification_message').text('Notification Body');                
            }
        });

        $("#url").blur(function () {

            $url = $('#url').val();

            if ($url != "" && $('#is_utm_show').is(':checked')) {

                $('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());                

            } else if ($url != "") {
			
                $('#redirect_url').text($url);                
            }
            else {
                $('#redirect_url').text('URL to open when user clicks the notification:');                
            }
        });
		
		$("#is_utm_show").on('click', function () {
		
			if ($('#is_utm_show').is(':checked')) { 


					$('#utm_parameter_div').show('slow');

					if ($url == "") {

						$('#redirect_url').text('URL to open when user clicks the notification:');
					} else {

						$('#redirect_url').text($url + "?utm_source=" + $('#utm_source').val() + "&utm_medium=" + $('#utm_medium').val() + "&utm_campaign=" + $('#utm_campaign').val());
					}

				} else {

					$('#utm_parameter_div').hide('slow');

					if ($url == "") {

						$('#redirect_url').text('URL to open when user clicks the notification:');
					} else {

						$('#redirect_url').text($url);
					}
				}
		});
	});	
});
	</script>   
</form>
<?php } ?>

