 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

#pushassist *::-moz-selection {background: #d5eaff none repeat scroll 0 0;}
#pushassist.clearfix::before, #pushassist.clearfix::after, #pushassist .clearfix::before, #pushassist .clearfix::after {content: " "; display: table;}
#pushassist.clearfix::after, #pushassist .clearfix::after {clear: both;}
#pushassist {min-height: 1px; position: relative; color: #58666e; font-family: "Open Sans",sans-serif; font-size: 13px; line-height: 1.7em; text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);}
#pushassist h1, #pushassist .h1, #pushassist h2, #pushassist .h2, #pushassist h3, #pushassist .h3 {
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    margin-top: 20px;
}
#pushassist h1, #pushassist h2, #pushassist h3, #pushassist h4, #pushassist h5, #pushassist h6, #pushassist .h1, #pushassist .h2, #pushassist .h3, #pushassist .h4, #pushassist .h5, #pushassist .h6 {
    color: #37363e;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.6;
}
#pushassist h3, #pushassist .h3 {
    font-size: 16px;
}
#pushassist h4, #pushassist .h4, #pushassist h5, #pushassist .h5, #pushassist h6, #pushassist .h6 {
    margin-bottom: 10px;
    margin-top: 15px;
}
#pushassist h5, #pushassist .h5 {
    font-size: 1.25em;
}
#pushassist a {color: #616161; text-decoration: none;}
#pushassist a:hover, #pushassist a:focus {color: #333333; text-decoration: none;}
#pushassist .color-up {
    color: #4caf50;
}

#pushassist .padding-0 {padding: 0px !important;}
#pushassist .padding-5 {padding: 5px !important;}
#pushassist .padding-10 {padding: 10px !important;}
#pushassist .padding-15 {padding: 15px !important;}
#pushassist .padding-20 {padding: 20px !important;}
#pushassist .padding-25 {padding: 25px !important;}
#pushassist .padding-30 {padding: 30px !important;}
#pushassist .padding-35 {padding: 35px !important;}
#pushassist .padding-40 {padding: 40px !important;}
#pushassist .padding-45 {padding: 45px !important;}
#pushassist .padding-50 {padding: 50px !important;}

#pushassist .padding-l-0 {padding-left: 0px !important;}
#pushassist .padding-l-5 {padding-left: 5px !important;}
#pushassist .padding-l-10 {padding-left: 10px !important;}
#pushassist .padding-l-15 {padding-left: 15px !important;}
#pushassist .padding-l-20 {padding-left: 20px !important;}
#pushassist .padding-l-25 {padding-left: 25px !important;}
#pushassist .padding-l-30 {padding-left: 30px !important;}
#pushassist .padding-l-35 {padding-left: 35px !important;}
#pushassist .padding-l-40 {padding-left: 40px !important;}
#pushassist .padding-l-45 {padding-left: 45px !important;}
#pushassist .padding-l-50 {padding-left: 50px !important;}

#pushassist .padding-r-0 {padding-right: 0px !important;}
#pushassist .padding-r-5 {padding-right: 5px !important;}
#pushassist .padding-r-10 {padding-right: 10px !important;}
#pushassist .padding-r-15 {padding-right: 15px !important;}
#pushassist .padding-r-20 {padding-right: 20px !important;}
#pushassist .padding-r-25 {padding-right: 25px !important;}
#pushassist .padding-r-30 {padding-right: 30px !important;}
#pushassist .padding-r-35 {padding-right: 35px !important;}
#pushassist .padding-r-40 {padding-right: 40px !important;}
#pushassist .padding-r-45 {padding-right: 45px !important;}
#pushassist .padding-r-50 {padding-right: 50px !important;}

#pushassist .padding-t-0 {padding-top: 0px !important;}
#pushassist .padding-t-5 {padding-top: 5px !important;}
#pushassist .padding-t-10 {padding-top: 10px !important;}
#pushassist .padding-t-15 {padding-top: 15px !important;}
#pushassist .padding-t-20 {padding-top: 20px !important;}
#pushassist .padding-t-25 {padding-top: 25px !important;}
#pushassist .padding-t-30 {padding-top: 30px !important;}
#pushassist .padding-t-35 {padding-top: 35px !important;}
#pushassist .padding-t-40 {padding-top: 40px !important;}
#pushassist .padding-t-45 {padding-top: 45px !important;}
#pushassist .padding-t-50 {padding-top: 50px !important;}

#pushassist .padding-b-0 {padding-bottom: 0px !important;}
#pushassist .padding-b-5 {padding-bottom: 5px !important;}
#pushassist .padding-b-10 {padding-bottom: 10px !important;}
#pushassist .padding-b-15 {padding-bottom: 15px !important;}
#pushassist .padding-b-20 {padding-bottom: 20px !important;}
#pushassist .padding-b-25 {padding-bottom: 25px !important;}
#pushassist .padding-b-30 {padding-bottom: 30px !important;}
#pushassist .padding-b-35 {padding-bottom: 35px !important;}
#pushassist .padding-b-40 {padding-bottom: 40px !important;}
#pushassist .padding-b-45 {padding-bottom: 45px !important;}
#pushassist .padding-b-50 {padding-bottom: 50px !important;}

#pushassist .margin-0 {margin: 0px !important;}
#pushassist .margin-5 {margin: 5px !important;}
#pushassist .margin-10 {margin: 10px !important;}
#pushassist .margin-15 {margin: 15px !important;}
#pushassist .margin-20 {margin: 20px !important;}
#pushassist .margin-25 {margin: 25px !important;}
#pushassist .margin-30 {margin: 30px !important;}
#pushassist .margin-35 {margin: 35px !important;}
#pushassist .margin-40 {margin: 40px !important;}
#pushassist .margin-45 {margin: 45px !important;}
#pushassist .margin-50 {margin: 50px !important;}

#pushassist .margin-l-0 {margin-left: 0px !important;}
#pushassist .margin-l-5 {margin-left: 5px !important;}
#pushassist .margin-l-10 {margin-left: 10px !important;}
#pushassist .margin-l-15 {margin-left: 15px !important;}
#pushassist .margin-l-20 {margin-left: 20px !important;}
#pushassist .margin-l-25 {margin-left: 25px !important;}
#pushassist .margin-l-30 {margin-left: 30px !important;}
#pushassist .margin-l-35 {margin-left: 35px !important;}
#pushassist .margin-l-40 {margin-left: 40px !important;}
#pushassist .margin-l-45 {margin-left: 45px !important;}
#pushassist .margin-l-50 {margin-left: 50px !important;}
#pushassist .margin-l-110 {margin-left: 110px !important;}

#pushassist .margin-r-0 {margin-right: 0px !important;}
#pushassist .margin-r-5 {margin-right: 5px !important;}
#pushassist .margin-r-10 {margin-right: 10px !important;}
#pushassist .margin-r-15 {margin-right: 15px !important;}
#pushassist .margin-r-20 {margin-right: 20px !important;}
#pushassist .margin-r-25 {margin-right: 25px !important;}
#pushassist .margin-r-30 {margin-right: 30px !important;}
#pushassist .margin-r-35 {margin-right: 35px !important;}
#pushassist .margin-r-40 {margin-right: 40px !important;}
#pushassist .margin-r-45 {margin-right: 45px !important;}
#pushassist .margin-r-50 {margin-right: 50px !important;}

#pushassist .margin-t-0 {margin-top: 0px !important;}
#pushassist .margin-t-5 {margin-top: 5px !important;}
#pushassist .margin-t-10 {margin-top: 10px !important;}
#pushassist .margin-t-15 {margin-top: 15px !important;}
#pushassist .margin-t-20 {margin-top: 20px !important;}
#pushassist .margin-t-25 {margin-top: 25px !important;}
#pushassist .margin-t-30 {margin-top: 30px !important;}
#pushassist .margin-t-35 {margin-top: 35px !important;}
#pushassist .margin-t-40 {margin-top: 40px !important;}
#pushassist .margin-t-45 {margin-top: 45px !important;}
#pushassist .margin-t-50 {margin-top: 50px !important;}

#pushassist .margin-b-0 {margin-bottom: 0px !important;}
#pushassist .margin-b-5 {margin-bottom: 5px !important;}
#pushassist .margin-b-10 {margin-bottom: 10px !important;}
#pushassist .margin-b-15 {margin-bottom: 15px !important;}
#pushassist .margin-b-20 {margin-bottom: 20px !important;}
#pushassist .margin-b-25 {margin-bottom: 25px !important;}
#pushassist .margin-b-30 {margin-bottom: 30px !important;}
#pushassist .margin-b-35 {margin-bottom: 35px !important;}
#pushassist .margin-b-40 {margin-bottom: 40px !important;}
#pushassist .margin-b-45 {margin-bottom: 45px !important;}
#pushassist .margin-b-50 {margin-bottom: 50px !important;}

#pushassist td .table_image {
    width: auto;
}

#pushassist td .table_image img{
    height: 80px;
    width: 80px;
    margin: 5px 10px;
}

#Psidebar {
    background: #404040 none repeat scroll 0 0;
    margin-left: 10px;
    width:15%;
    float: left;
}

#Psidebar ul li {
    list-style:none;
    width:93%;
    float: left; 
    border-bottom: 1px #ccc solid;   
    padding:10px;
}


#Psidebar a{

color: #fff !important;
font-size:15px;
text-decoration:none !important;
}

#Psidebar a:hover{

color: #ccc !important;
font-size:15px;
text-decoration:underline;
}

#Psidebar ul li p{
   color: #fff !important;
font-size:15px; 
    
   
}


#pushassist.content {
     background: #f4f4f4 none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    float:left;
    width:80%;
}

.upgrade_btn {
    background: url("images/btn_bg.gif") repeat-x scroll 0 100% #FFAC47;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    padding: 1px 7px 2px;
    text-align: center !important;
    white-space: nowrap;
}
.upgrade_btn a:hover{
   text-decoration:underline;
   color:#000;
}
#pushassist .page-header {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: medium none;
    margin: -20px 0px 20px;
    padding: 20px;
    position: relative;
}
#pushassist .page-header .title {
    color: #37363e;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 6px;
    display: inline-block !important;
}
#pushassist h1, #pushassist .h1, #pushassist h2, #pushassist .h2, #pushassist h3, #pushassist .h3 {
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    margin-top: 20px;
}
#pushassist .container-widget {
    margin-left: -5px;
    margin-right: -5px;
    min-height: 800px;
    padding: 0;
}
#pushassist * {
    box-sizing: border-box;
}
#pushassist .container-widget .col-xs-1, #pushassist .container-widget .col-sm-1, #pushassist .container-widget .col-md-1, #pushassist .container-widget .col-lg-1, #pushassist .container-widget .col-xs-2, #pushassist .container-widget .col-sm-2, #pushassist .container-widget .col-md-2, #pushassist .container-widget .col-lg-2, #pushassist .container-widget .col-xs-3, #pushassist .container-widget .col-sm-3, #pushassist .container-widget .col-md-3, #pushassist .container-widget .col-lg-3, #pushassist .container-widget .col-xs-4, #pushassist .container-widget .col-sm-4, #pushassist .container-widget .col-md-4, #pushassist .container-widget .col-lg-4, #pushassist .container-widget .col-xs-5, #pushassist .container-widget .col-sm-5, #pushassist .container-widget .col-md-5, #pushassist .container-widget .col-lg-5, #pushassist .container-widget .col-xs-6, #pushassist .container-widget .col-sm-6, #pushassist .container-widget .col-md-6, #pushassist .container-widget .col-lg-6, #pushassist .container-widget .col-xs-7, #pushassist .container-widget .col-sm-7, #pushassist .container-widget .col-md-7, #pushassist .container-widget .col-lg-7, #pushassist .container-widget .col-xs-8, #pushassist .container-widget .col-sm-8, #pushassist .container-widget .col-md-8, #pushassist .container-widget .col-lg-8, #pushassist .container-widget .col-xs-9, #pushassist .container-widget .col-sm-9, #pushassist .container-widget .col-md-9, #pushassist .container-widget .col-lg-9, #pushassist .container-widget .col-xs-10, #pushassist .container-widget .col-sm-10, #pushassist .container-widget .col-md-10, #pushassist .container-widget .col-lg-10, #pushassist .container-widget .col-xs-11, #pushassist .container-widget .col-sm-11, #pushassist .container-widget .col-md-11, #pushassist .container-widget .col-lg-11, #pushassist .container-widget .col-xs-12, #pushassist .container-widget .col-sm-12, #pushassist .container-widget .col-md-12, #pushassist .container-widget .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
	min-height: 1px;
	position: relative;
}

#pushassist .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
#pushassist .col-xs-12 {
  width: 100%;
}
#pushassist .col-xs-11 {
  width: 91.66666667%;
}
#pushassist .col-xs-10 {
  width: 83.33333333%;
}
#pushassist .col-xs-9 {
  width: 75%;
}
#pushassist .col-xs-8 {
  width: 66.66666667%;
}
#pushassist .col-xs-7 {
  width: 58.33333333%;
}
#pushassist .col-xs-6 {
  width: 50%;
}
#pushassist .col-xs-5 {
  width: 41.66666667%;
}
#pushassist .col-xs-4 {
  width: 33.33333333%;
}
#pushassist .col-xs-3 {
  width: 25%;
}
#pushassist .col-xs-2 {
  width: 16.66666667%;
}
#pushassist .col-xs-1 {
  width: 8.33333333%;
}
#pushassist .sub_count {
    float: right;
    margin-right: 10px;
}
#pushassist .sub_count span {
    font-size: 15px;
}
#pushassist .sub_count a {
    margin-left: 10px;
    background-color: #616161;
    color: #ffffff;
    -moz-user-select: none;
    border: medium none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.pushcache{   
    
    margin-left: 10px;
    padding-bottom:8px;
    float: left;
    width: 80%;}
#pushassist .align-center{text-align:center !important;}
#pushassist input{
background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bdc4c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 #f1f0f1 inset;
  height: 36px;
    padding-left: 10px;
}
#pushassist .float-r { float:right;}

#pushassist .maindashboard {
    background: #f4f4f4 none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    padding-left: 30px;
    padding-right: 30px;
   float: left;
    width: 100%;
}
#pushassist .maindashboard-widget {
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;}
@media (min-width: 768px) {
  #pushassist .col-sm-1, #pushassist .col-sm-2, #pushassist .col-sm-3, #pushassist .col-sm-4, #pushassist .col-sm-5, #pushassist .col-sm-6, #pushassist .col-sm-7, #pushassist .col-sm-8, #pushassist .col-sm-9, #pushassist .col-sm-10, #pushassist .col-sm-11, #pushassist .col-sm-12 {
    float: left;
  }
  #pushassist .col-sm-12 {
    width: 100%;
  }
  #pushassist .col-sm-11 {
    width: 91.66666667%;
  }
  #pushassist .col-sm-10 {
    width: 83.33333333%;
  }
  #pushassist .col-sm-9 {
    width: 75%;
  }
  #pushassist .col-sm-8 {
    width: 66.66666667%;
  }
  #pushassist .col-sm-7 {
    width: 58.33333333%;
  }
  #pushassist .col-sm-6 {
    width: 50%;
  }
  #pushassist .col-sm-5 {
    width: 41.66666667%;
  }
  #pushassist .col-sm-4 {
    width: 33.33333333%;
  }
  #pushassist .col-sm-3 {
    width: 25%;
  }
  #pushassist .col-sm-2 {
    width: 16.66666667%;
  }
  #pushassist .col-sm-1 {
    width: 8.33333333%;
  }
  #pushassist .col-sm-offset-3 {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  #pushassist .col-md-1, #pushassist .col-md-2, #pushassist .col-md-3, #pushassist .col-md-4, #pushassist .col-md-5, #pushassist .col-md-6, #pushassist .col-md-7, #pushassist .col-md-8, #pushassist .col-md-9, #pushassist .col-md-10, #pushassist .col-md-11, #pushassist .col-md-12 {
    float: left;
  }
  #pushassist .col-md-12 {
    width: 100%;
  }
  #pushassist .col-md-11 {
    width: 91.66666667%;
  }
  #pushassist .col-md-10 {
    width: 83.33333333%;
  }
  #pushassist .col-md-9 {
    width: 75%;
  }
  #pushassist .col-md-8 {
    width: 66.66666667%;
  }
  #pushassist .col-md-7 {
    width: 58.33333333%;
  }
  #pushassist .col-md-6 {
    width: 49.70%;
  }
  #pushassist .col-md-5 {
    width: 41.66666667%;
  }
  #pushassist .col-md-4 {
    width: 33.33333333%;
  }
  #pushassist .col-md-3 {
    width: 25%;
  }
  #pushassist .col-md-2 {
    width: 16.66666667%;
  }
  #pushassist .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  #pushassist .col-lg-1, #pushassist .col-lg-2, #pushassist .col-lg-3, #pushassist .col-lg-4, #pushassist .col-lg-5, #pushassist .col-lg-6, #pushassist .col-lg-7, #pushassist .col-lg-8, #pushassist .col-lg-9, #pushassist .col-lg-10, #pushassist .col-lg-11, #pushassist .col-lg-12 {
    float: left;
  }
  #pushassist .col-lg-12 {
    width: 100%;
  }
  #pushassist .col-lg-11 {
    width: 91.66666667%;
  }
  #pushassist .col-lg-10 {
    width: 83.33333333%;
  }
  #pushassist .col-lg-9 {
    width: 75%;
  }
  #pushassist .col-lg-8 {
    width: 66.66666667%;
  }
  #pushassist .col-lg-7 {
    width: 58.33333333%;
  }
  #pushassist .col-lg-6 {
    width: 50%;
  }
  #pushassist .col-lg-5 {
    width: 41.66666667%;
  }
  #pushassist .col-lg-4 {
    width: 33.33333333%;
  }
  #pushassist .col-lg-3 {
    width: 25%;
  }
  #pushassist .col-lg-2 {
    width: 16.66666667%;
  }
  #pushassist .col-lg-1 {
    width: 8.33333333%;
  } 
}

#pushassist .panel > .table-responsive:last-child > .table:last-child, #pushassist .panel > .table:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#pushassist .table {margin-bottom: 20px; max-width: 100%; width: 100%;background-color: rgba(0, 0, 0, 0); border-collapse: collapse; border-spacing: 0;}

#pushassist .table > caption + thead > tr:first-child > td, #pushassist .table > caption + thead > tr:first-child > th, #pushassist .table > colgroup + thead > tr:first-child > td, #pushassist .table > colgroup + thead > tr:first-child > th, #pushassist .table > thead:first-child > tr:first-child > td, #pushassist .table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
}
#pushassist .table > tbody > tr > td, #pushassist .table > tbody > tr > th, #pushassist .table > tfoot > tr > td, #pushassist .table > tfoot > tr > th, #pushassist .table > thead > tr > td, #pushassist .table > thead > tr > th {
    border-top: 1px solid #dddddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
#pushassist p {
    margin: 0 0 10px;
}

#pushassist .container-widget {
    margin-left: -5px;
    margin-right: -5px;
    min-height: 800px;
    padding: 0;
}
#pushassist .container-widget .panel {
    margin-bottom: 10px;
}
#pushassist .panel-default {
    border-color: #dddddd;
}
#pushassist .panel {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

#pushassist .panel-body, #pushassist .panel-heading {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    padding: 0;
}
#pushassist .form-group:after {
    clear: both;
    content: " ";
    display: table;
}

#pushassist .form-group {
    margin-bottom: 18px;
}

#pushassist label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
#pushassist .form-label {font-weight: 500;}
#pushassist .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}
#pushassist .dropdown_padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#pushassist textarea.form-control {
    height: auto;
	overflow: auto;
}
#pushassist .form-control {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bdc4c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 #f1f0f1 inset;
    display: block;
	font-family: inherit;
    font-size: 14px;
    height: 34px !important;
	margin: 0;
    padding: 6px 10px;
	color: #555555;
	line-height: 1.42857;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
/*#pushassist input, #pushassist select {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bdc4c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 #f1f0f1 inset;
    font-size: 14px;
    height: 110px;
    padding-left: 10px;
}*/

#pushassist .form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
#pushassist .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
#pushassist .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
#pushassist .clearfix::after, #pushassist .container-fluid::after, #pushassist .container::after, #pushassist .form-horizontal .form-group::after, #pushassist .modal-footer::after, #pushassist .pager::after, #pushassist .panel-body::after, #pushassist .row::after {clear: both; content: " "; display: table;}
#pushassist button, #pushassist input, #pushassist optgroup, #pushassist select, #pushassist textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
#pushassist .btn {
    background: #e4e4e4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: inherit;
    font-size: 14px;
    padding: 7px 20px;
	-moz-user-select: none;
	cursor: pointer;
	font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#pushassist .s_draft {padding: 8px 20px; height: 37px;}
#pushassist .btn-success {
    background-color: #4caf50;
    color: #ffffff;
}
#pushassist .btn-success:hover, #pushassist .btn-success:focus, #pushassist .btn-success.focus, #pushassist .btn-success:active, #pushassist .btn-success.active, #pushassist .open > .dropdown-toggle.btn-success {
    background-color: #59b75c;
    color: #ffffff;
}
#pushassist .btn-default {
    background-color: #616161;
    color: #ffffff;margin-top:15px;
}
#pushassist .btn-default:hover, #pushassist .btn-default:focus, #pushassist .btn-default.focus, #pushassist .btn-default:active, #pushassist .btn-default.active, #pushassist .open > .dropdown-toggle.btn-default {
    background-color: #6b6b6b;
    color: #ffffff;
}
#pushassist .btn-light {
    background-color: #ffffff;
    border: 1px solid #bdc4c9;
    color: inherit;
}
#pushassist .selectpicker {padding: 7px 10px;}
#pushassist .dropdown-menu {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    font-size: inherit;
    width: 100px;
}
#pushassist .dropdown-menu li {
    position: relative;
}
#pushassist .dropdown-menu > li > a {
    color: #3d464d;
    padding: 9px 20px;
}
#pushassist .dropdown-menu a {
    cursor: pointer;
}
#pushassist a:focus, #pushassist input, #pushassist input[type="file"]:focus, #pushassist input[type="radio"]:focus, #pushassist input[type="checkbox"]:focus, #pushassist .btn:focus, #pushassist .btn:active:focus, #pushassist .btn.active:focus, #pushassist .btn.focus, #pushassist .btn.focus:active, #pushassist .btn.active.focus {outline: 0 none !important;}
#pushassist .progress {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: none;
    height: 5px;
    margin-bottom: 0;
	border-radius: 4px;
	overflow: hidden;
}
#pushassist .progress-bar-success {
    background: #4caf50 none repeat scroll 0 0;
}
#pushassist .progress-bar {
    background: #616161 none repeat scroll 0 0;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}
#pushassist .fileinput-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#pushassist .fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#pushassist input[type="file"] {
    display: block;
}
#pushassist #is_utm_show {
    height: 15px !important;
}
#pushassist input[type="checkbox"], #pushassist input[type="radio"] {
    line-height: normal;
    margin: -2px 0 0;
}
#pushassist .btn-light:hover, #pushassist .btn-light:focus, #pushassist .btn-light.focus, #pushassist .btn-light:active, #pushassist .btn-light.active, #pushassist .open > .dropdown-toggle.btn-light {
    background-color: #f9f9f9;
    color: inherit;
}

/** Dashboard **/
#pushassist .topstats {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #76747a;
    font-size: 12px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 12px 0;
    position: relative;
    text-shadow: none;
	margin: 10px 5px;
}
#pushassist .topstats li {
    display: block;
    margin: 10px 0;
    text-align: center;
}
#pushassist .topstats .arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    position: absolute;
    right: 5px;
    top: -18px;
    width: 0;
}
#pushassist .topstats .title {
    color: #37363e;
    font-size: 13px;
    font-weight: 600;
}
#pushassist .topstats .title .fa {
    color: #000000;
    font-size: 15px;
    margin-right: 4px;
    opacity: 0.4;
}
#pushassist .topstats h3 {
    font-family: "Montserrat",sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: normal;
    margin: 1px 0;
}
#pushassist .panel-title {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: medium none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #58666e;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: -20px -20px 5px;
    padding: 16px 20px;
    text-transform: uppercase;
}
#pushassist.dashboard .label {
    border-radius: 4px;
    font-size: inherit;
    font-weight: 600;
    padding: 1px 6px;
}
#pushassist .label-info {
    background: #00b8d4 none repeat scroll 0 0;
	color: #fff;
}
#pushassist .panel-tools {
    font-family: "Open Sans",sans-serif;
    font-size: inherit;
    font-weight: 600;
    position: absolute;
    right: 16px;
    text-transform: none;
    top: 13px;
    z-index: 1;
}
#pushassist .panel-tools li {
    display: inline-block;
}
#pushassist .panel-tools a {
    border-radius: 3px;
    color: inherit;
    display: block;
    padding: 6px 8px;
}
#pushassist .panel-tools .icon {
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 14px;
}
#pushassist .panel-tools a:hover {
    background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
    color: rgba(0, 0, 0, 0.6);
}
#pushassist .table {
    margin: 0;
}
#pushassist thead {
    color: #37363e;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
#pushassist .table > thead > tr > th, #pushassist .table > tbody > tr > th, #pushassist .table > tfoot > tr > th, #pushassist .table > thead > tr > td, #pushassist .table > tbody > tr > td, #pushassist .table > tfoot > tr > td {
    line-height: 1.7;
    padding: 15px;
}
#pushassist .table-hover > tbody > tr:hover {
    background-color: #eff7ff;
}
#pushassist table td {
    display: table-cell;
    vertical-align: middle;
}
#pushassist .panel-search {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #333333;
    display: none;
    margin: -20px -20px 20px;
    padding: 15px 20px;
    position: relative;
}
#pushassist .panel-search input {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 999px;
    padding-left: 35px;
}
#pushassist .panel-search .icon {
    left: 35px;
    position: absolute;
    top: 25px;
}
#pushassist .color-down {
    color: #f44336;
}
#pushassist .color-up {
    color: #558b2f;
}
#pushassist .topstats .diff b {
    font-weight: bold;
}
#pushassist .shadow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0;
}


 #pushassist .pb15 {padding: 15px;}
 #pushassist .pb15 p {margin-bottom: 10px;}
 #pushassist p.h4 {font-size: 1.5em; margin: 15px 0px 10px; color: #37363e;}
 #pushassist p.h5 {font-size: 14px;}
 #pushassist .dummy-notification .widget {
     border-radius: 1px !important;
     display: table !important;
     margin-bottom: 17px !important;
     position: relative !important;
 }
 #pushassist .dummy-notification-inner-wrapper {
     background: #ffffff none repeat scroll 0 0 !important;
     left: 5% !important;
 }

 #pushassist .dummy-notification .h5 strong{
     font-weight: 600 !important;
     font-size: 14px !important;
 }

 #pushassist img{
     width: 100%;
 }

 #pushassist strong{
     font-weight: 600 !important;
     color: #616161 !important;
 }

 #pushassist .dummy-notification-inner-wrapper .pb15{
     padding: 15px;
 }

 #pushassist .notification-preview .widget {
     padding: 0px !important;
 }

 #pushassist .wrapper { background-color: #ffffff; display: block; line-height: 1.1; min-width: 269px !important;}

 #pushassist .wrapper .img_wrapper, #pushassist .wrapper img {
     height: 82px !important;
     margin: 0 13px 0 0;
     width: 80px !important;
 }

 #pushassist .wrapper .text_wrapper {
     padding: 5px 13px 10px 0;
     width: 269px !important;
 }

 #pushassist .wrapper .text_wrapper .message {
     font-size: 12px;
     font-weight: 100;
     line-height: 15px;
     margin: 8px 0;
     max-height: 30px;
     min-height: 30px;
     overflow: hidden;
 }

 #pushassist .wrapper .text_wrapper .domain {
     color: #7f7f7f;
     font-size: 11px;
     letter-spacing: 0.5px;
 }

 #pushassist .title_txt {
     width: 96%;
 }

 #pushassist .wrapper .text_wrapper .title .closer {
     position: relative;
     top: -6px;
 }

 #pushassist .wrapper .text_wrapper .title {
     font-size: 13.5px !important;
     letter-spacing: 0.5px;
     line-height: 18px;
     margin: 4px 0 8px;
     max-height: 36px;
     overflow: hidden;
 }

 #pushassist .dummy-notification .redirect_url {
     font-size: 12px;
     margin: 30px 0;
     padding: 0 50px;
 }

 #pushassist .panel-body .table .message {width: 45% !important;}
 #pushassist .panel-body .table .message h5, #pushassist .panel-body .table .message h5 a {color: #37363e !important}

 #pushassist .panel-body .table .message a {text-decoration: none !important; color: #616161 !important;}
#pushassist .message:before{content:none !important;}
#pushassist .message{background:none !important;}
/* =================================================================================
smaller than 1280 
================================================================================= */
@media screen and (max-width: 1280px) {
	#pushassist .topmenu{display: none;}
}

/* =================================================================================
smaller than 1024 
================================================================================= */
@media screen and (max-width: 1024px) {
	#pushassist .profilebox b{display: none;}
	#pushassist .searchform{display: none;}
	#pushassist .sidebar{display: none;}
	#pushassist.content{margin-left: 0 !important;}
	#pushassist .sidebar-open-button{display: none;}
	#pushassist .sidebar-open-button-mobile{display: block;}
	#pushassist .social-stats{bottom: 100px;}
	#pushassist .topstats li{width: 33%;}
	#pushassist .demo-sidebarmenu .sidebar{display: block;}
}

/* =================================================================================
smaller than 760 
================================================================================= */
@media screen and (max-width: 760px) {
	#pushassist .page-header .right{display: none;}
	#pushassist .sidebar{display: none; width: 100%;}
	#pushassist .presentation .list{float: left; margin-top: 20px;}
	#pushassist .applogo{display: none;}
	#pushassist .container-default, #pushassist .container-widget{margin-left:-20px; margin-right: -20px;}
	#pushassist .container-padding, #pushassist .container-no-padding{margin-left:-40px; margin-right: -40px;}
	#pushassist .social-content{padding-left: 10px; padding-right: 10px;}
	#pushassist .chart-with-stats .top-label{right: 20px;}
	#pushassist .mailbox-menu .menu li{display: block; width: 100%; border-right:none; border-bottom: 1px solid rgba(0, 0, 0, 0.08);}
	#pushassist .chat .title{height: auto;}
	#pushassist .profile-left .btn{display: none;}
	#pushassist .topstats li{width: 50%;}
}

/* =================================================================================
smaller than 428 
================================================================================= */
@media screen and (max-width: 428px) {
	#pushassist .top-right{display: none;}
	#pushassist .applogo{
		padding-left: 0;
		background: none;
		display: block;
		position: absolute;
		width: 100%;
		z-index: -4;
	}
	#pushassist .topstats li{width: 100%;}
	#pushassist .notification_demo_img_block {width: 60px; height: 60px;}
	#pushassist .notification_demo_img_block img {width: 60px; height: 60px;}
	#pushassist .notification-demo-wrapper {padding-left: 30px !important;}
	#pushassist .font-bold {font-weight: 600;}
	
}